* text=auto

# Document
*.md                          text
*.txt                         text

# Config
*.json                        text
*.yaml                        text
*.yml                         text

pnpm-lock.yaml                text -diff

# Shell
*.sh                          text eol=lf
.husky/**/*                   text eol=lf

# Database
*.prisma                      text
*.sqlite                      binary
*.db                          binary

# Source
*.cjs                         text
*.mjs                         text
*.js                          text
*.cts                         text
*.mts                         text
*.ts                          text

# Image
*.png                         binary
*.jpeg                        binary
*.jpg                         binary
*.svg                         text
